[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/forge-deploy-lite"]
	path = foundry/lib/forge-deploy-lite
	url = https://github.com/zapaz/forge-deploy-lite
[submodule "foundry/lib/chainlink"]
	path = foundry/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
